@media (max-width: 767px) {
  /* #announce{
    color: #3300;
    position: absolute;
    top: 200px;
} */
.announce {
  position: fixed;
  top: 120px;
  right: 70px;
  left: 50px;
  z-index: 1;
  color: rgb(36, 32, 32);
  font-weight: bolder;
  font-family: Recoleta;
  padding: 2em 2em;
  opacity: 0;
  text-align: center;
  background: linear-gradient(-23deg, rgb(207, 207, 177), rgb(182, 177, 177));
  animation: anime;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.announce section {
  line-height: 1.5;
  letter-spacing: 1.4px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}
#icon {
  float: right;
  padding-right: 1em;
  color: rgb(5, 5, 5);
}
#icon:hover {
  cursor: pointer;
}
/* #announce{
    color: #3300;
} */

}
@media (min-width: 768px) {
  /* #announce{
    color: #3300;
    position: absolute;
    top: 200px;
} */
.announce {
  position: fixed;
  top: 170px;
  right: 250px;
  left: 250px;
  z-index: 1;
  color: rgb(36, 32, 32);
  font-weight: bolder;
  font-family: Recoleta;
  padding: 2em 2em;
  opacity: 0;
  text-align: center;
  background: linear-gradient(-23deg, rgb(207, 207, 177), rgb(182, 177, 177));
  animation: anime;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.announce section {
  line-height: 1.5;
  letter-spacing: 1.4px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}
#icon {
  float: right;
  padding-right: 1em;
  color: rgb(5, 5, 5);
}
#icon:hover {
  cursor: pointer;
}
/* #announce{
    color: #3300;
} */

}