.footer h1 {
  text-transform: uppercase;
  text-align: center;
}
.footer img {
  height: 30px;
  width: 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1em 0;
  margin: 0;
}
.wrapper > div {
  border: 1px solid #fff;
  margin: 1em;
  text-align: center;
}
#join {
  color: #77797a;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 88px;
  position: relative;
  text-align: center;
  padding-top: 2em;
}
#join::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 5rem;
  height: 3px;
  background: url("../assets/titan/uderline.png") 50% no-repeat;
  background-size: 100%;
}
.min_footer {
  width: 50%;
  margin: auto;
}
.base {
  text-align: center;
  font-size: 12px;
  font-style: oblique;
}
.icon {
  font-size: 15px;
  background: rgb(57, 57, 138) !important;
  color: rgb(56, 19, 19) !important;
  padding: 8px 20px;
  border-radius: 80%;
  position: fixed;
  bottom: 7px;
  right: 10px;
}
.icon:hover {
  cursor: pointer;
}
